* { 
    
    font-size: 30px;
}

html {
    background-color: blanchedalmond;
}

h1 {
    font-family: 'Lucida Grande';
    font-size: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

button {
    height: 75px;
    width: 75px;
    margin: 8px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    background-color:rgb(206, 243, 255);
}

button:hover {
    background-color: rgb(186, 219, 231);
    cursor: pointer;
}

.operators, .decimal, .clear {
    background-color:rgb(206, 255, 206);  
}

.operators:hover, .decimal:hover, .clear:hover  {
    background-color: rgb(186, 231, 182);
}

.firstRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.screen {
    width: 270px;
    border: 3px inset rgb(255, 155, 144);
    height: 75px;
    margin: 10px;
    background-color:rgb(243, 144, 133);
    border-radius: 4%;
    text-align: right;
    padding-right: 5px;
}

.previous {
    font-size: 20px;

}

.current {
    font-size: 35px;
}